@model Motorists.Models.Car
@{
    ViewBag.Title = "RemoveDriver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Driver</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="btn-group col-md-2">
        <input type="submit" value="Remove" class="btn btn-danger" />
        @Html.ActionLink("Back", "Details", new { id = Model.Id }, new { @class = "btn btn-default", role = "button" })
    </div>
    <div class="col-md-10">
        @Html.DropDownList("driverId", (List<SelectListItem>)ViewData["drivers"], new { @class = "form-control" })
    </div>
}